{% extends 'base.html' %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0">{{destination.name}}</h1>  
          <p>Popular Destination</p>  
        </div>  
 
        <div class="float-right text-right">  
          <p class="mb-0">1 AUD equals</p>  
          <h2 id="exchange-rate">0.62 {{destination.currency}}</h2>  
        </div>  
      </div>  
    </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{destination.image}}">  
              <div class="media-body">  
                <small class="font-weight-bold text-muted">Stay 2 nights</small>  
                <h5 class="mt-0">{{destination.name}}</h5>  
                <p>{{destination.description}}</p>  
                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>
    <hr>
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12">  
        <h2>Comments</h2>  
      </div>  
    </div>  
 
    <div class="row border-bottom">  
      {% for comment in destination.comments %}
      <div class="col-md-12">  
        <b>{{comment.user}} <span class="ml-2 text-muted">January 2024</span></b>
        <p>{{comment.text}}</p>  
      </div> 
      {% endfor %} 
    </div>  
  </div> 

{% endblock %}