{% extends "base.html" %}
<!-- need to include this for bootstrap to render-->
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">

<div class="page-header">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using bootstrap -->

<div class="col-md-6">
{{wtf.quick_form(form)}}
</div>

<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('main.register') }}">Click here to register</a>.</p>
</div>
{% endif %}

</div>
{% endblock %}