{% include "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}



<div class="page-header">
    <h4>{{heading}}</h4>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<!-- Form rendering is simple and easy if using bootstrap -->
<div class="col-md-6">
{{wtf.quick_form(form)}}
</div>

<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endif %}

{% endblock %}